.continer.pricing-table{ padding-left: 20px; padding-right: 20px; margin-top:2%;}
  .continer.pricing-table .pricing-panel.pt-featured { margin-top: -40px; }
    .continer.pricing-table .pricing-panel.pt-featured .panel-heading,
    .continer.pricing-table .pricing-panel.pt-featured .panel-footer { background-color: #e2ff00; }
    .continer.pricing-table .pricing-panel h3 { font-size: 500%; }
    .continer.pricing-table .pricing-panel h3 small { font-size: 30%; }
    .continer.pricing-table .pricing-panel small { font-size: 100%; font-weight: lighter; font-stretch:normal; font-weight:400;}
    .continer.pricing-table .pricing-panel li.pt-empty { border-color: transparent;}
    .continer.pricing-table .pricing-panel li.pt-empty:first-child, .pt-first { border-top-color: #DDD !important;}
    .continer.pricing-table .pricing-panel li { font-style: normal; font-stretch: normal; font-weight:600;}
    .continer.pricing-table .pricing-panel li strong { color:#555; font-weight:bolder;}
    .continer.pricing-table .pricing-panel li i:hover { color:#555;}
    .continer.pricing-table .pricing-panel li i.pricing-labsessions {cursor:help;}
