//- CDN
//- script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyBY29ZyR2FmPGV8ZPPIXUQr-1KkU6HRA0A&libraries=places')
//- script(type='text/javascript', src='https://maps.googleapis.com/maps/api/place/radarsearch/json?location=30.049019020085613,31.20098772209326&radius=5000&keyword=fab+lab+egypt&key=AIzaSyCqnNHTRT-JPkXv8DA6vOQyCstJSGRrA6A')


//- bower_components
// build:js(.) scripts/components.js
// bower:js
script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='bower_components/jqueryui/jquery-ui.min.js')
script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='bower_components/jquery.slimscroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='bower_components/jquery.transit/jquery.transit.js')
script(type='text/javascript', src='bower_components/fullPage.js/jquery.fullPage.min.js')
script(type='text/javascript', src='bower_components/matchHeight/jquery.matchHeight-min.js')
script(type='text/javascript', src='bower_components/slick-carousel/slick/slick.min.js')
script(type='text/javascript', src='bower_components/gmaps/gmaps.js')
// endbower
// endbuild

//- assets
// build:js(app) scripts/fabstrap.js
script(type='text/javascript', src='scripts/reveal-animated.js')
script(type='text/javascript', src='scripts/main.js')
script(type='text/javascript', src='scripts/fullpage.js')
script(type='text/javascript', src='scripts/gmap.js')
// endbuild
