// PACE: Page loader
script(src="bower_components/pace/pace.min.js",type="text/javascript",charset="utf-8")
link(href="styles/pace.css",rel="stylesheet",type="text/css")
script(type="text/javascript") pace.start();
// /PACE
