// PACE: Page loader
// build:js(.) scripts/pace.js
// bower:js
script(src='bower_components/pace/pace.min.js',type='text/javascript',charset='utf-8')
// endbower
// endbuild
// build:css(.tmp) styles/pace.css
link(href='styles/pace.css',rel='stylesheet',type='text/css')
// endbuild
script(type='text/javascript') pace.start();
// /PACE
