// PACE: Page loader
img(src="images/logo.png",class="remove-on-load invisible")
img(src="images/logo_black_opacity0.1.png",class="remove-on-load invisible")
style .invisible{ visibility: hidden; }
// build:js(.) scripts/pace.js
// bower:js
script(src='bower_components/pace/pace.min.js',type='text/javascript',charset='utf-8')
// endbower
// endbuild
// build:css(.tmp) styles/pace.css
link(href='styles/pace.css',rel='stylesheet',type='text/css')
// endbuild
script(type='text/javascript') pace.start();
// /PACE
