
//- CDN

//- plugins
// build:css(.) styles/jquery-ui.css
// bower:css
link(href="bower_components/jqueryui/themes/smoothness/jquery-ui.css",rel="stylesheet",type="text/css")
// endbower
// endbuild

// build:css(.) styles/jquery-ui.css
// bower:css
link(href="bower_components/slick-carousel/slick/slick.css",rel="stylesheet",type="text/css")
// endbower
// endbuild

//- link(href="bower_components/animate.css/animate.min.css",rel="stylesheet",type="text/css")
//- link(href="bower_components/animate/index.css",rel="stylesheet",type="text/css")


//- assets

// build:css(app) styles/animate.min.css
link(href="styles/animate.min.css",rel="stylesheet",type="text/css")
// endbuild
// build:css(.tmp) styles/fabstrap.min.css
link(href="styles/fabstrap-en.css",rel="stylesheet",type="text/css")
// endbuild
