
//- CDN

//- plugins
link(href="bower_components/jqueryui/themes/smoothness/jquery-ui.css",rel="stylesheet",,type="text/css")
//- link(href="bower_components/animate.css/animate.min.css",rel="stylesheet",type="text/css")
//- link(href="bower_components/animate/index.css",rel="stylesheet",type="text/css")

//- assets
link(href="styles/animate.min.css",rel="stylesheet",type="text/css")
link(href="styles/fabstrap-en.css",rel="stylesheet",type="text/css")
