#contact {
  #googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    /* z-index: 2; */ /* Set z-index to 0 as it will be on a layer below the contact form */
  }

  #overlat {
    z-index: 3; /* The z-index should be higher than Google Maps */
  }
}
