/* // Core variables and mixins
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

// Bootswatch Flaty
@import "../flaty-bootswatch/_variables";
@import "../flaty-bootswatch/_bootswatch"; */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Fablab Website main stylesheet                                            */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.background-light { color: black !important;  }
.background-dark  { color: whitesmoke !important; }

.hXL { font-size: 45px; }

.machines {

  .machine {

    .display-table {
      width: 100%;
      height: 100%;
      display: table;

      p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}



#full-page {
  /*==========  About  ==========*/
        #about.section { background: whitesmoke; }

  /*==========  Services  ==========*/
     #services.section { background: #fdd55e; }

  /*==========  Machines  ==========*/
     .machines.section { background: #ecf0f1; }

  /*==========  Projects ==========*/
     #projects.section { background: #43f0f6; }

  /*==========  Membership ==========*/
  #memberships.section { background: #89C4F4; }

  /*==========  contacts ==========*/
     #contacts.section { background: #2163ff; }
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
