#full-page
    #about.section.active
        include sections/about-en
    #services.section.services
        include sections/services-en
    #machines-main.section.machines
        include sections/machines/machines_main-en
    #machines-makerbot.section.machines
        include sections/machines/makerbot-en
    #machines-morn.section.machines
        include sections/machines/morn3050dii-en
    #machines-vinyl.section.machines
        include sections/machines/roland-en
    #machines-modela.section.machines
        include sections/machines/modela-en
    //- //- #machines-tools.section.machines
    //- //-     include sections/machines/machine-en
    #memberships.section
        include sections/pricing_table-en
    #contacts.section
        include sections/contact-en
