<div class="continer">
  <div class="row">
    <div class="invisible col col-sm-2 col-sm-offset-2">
      {% include "_sections/_services-en/_coworking_space.html" %}
    </div>
    <div class="invisible col col-sm-2">
      {% include "_sections/_services-en/_machines-tools.html" %}
    </div>
    <div class="invisible col col-sm-2">
      {% include "_sections/_services-en/_mit_curriculum.html" %}
    </div>
    <div class="invisible col col-sm-2">
      {% include "_sections/_services-en/_workshops_events.html" %}
    </div>
  </div>
</div>
