.thumbnail
    img.img-responsive(src='images/serives-icons/co-working_space.png', alt='Co-Working Space')
    .caption
        h3 Co-Working Space
        p A place to work with your team member and fellow makers...
        a.btn.btn-success(href="http://reservation.fablab-egypt.com/index.php/site/workspace/", target='_blank') Reserve
