.thumbnail
    img.img-responsive(src='images/serives-icons/machines-tools.png', alt='Machines and Tools')
    .caption
        h3 Machines &amp; Tools
        p for digital fabrication and prototyping...
