.thumbnail
    img.img-responsive(src='images/serives-icons/mit-curriculum.png', alt='MIT accredited curriculum')
    .caption
        h3 MIT Curriculum
        p Hands-on training using MIT accredited curriculum....
