.thumbnail
    img.img-responsive(src='images/serives-icons/workshops.png', alt='Workshops and Events')
    .caption
        h3 Workshops &amp; Events
        p Learn how, to make and share...
        a.btn.btn-success(href="http://reservation.fablab-egypt.com/index.php/site/calendar/", target='_blank') Register
