//- - - - - - - - - - - - - -
include template/mixins
//- - - - - - - - - - - - - -

doctype html
head
    title Fab Lab Egypt
    include template/includes/pace
    include template/includes/styles
    //- include template/includes/favicons

body
    //- Header
    include template/partials/navbar-en

    //- body/fullpage
    include template/fullpage

    //- includes
    include template/includes/javascript

//- - - - - - - - - - - - - -
