<div class="panel panel-default pricing-panel" dir='rtl'>
  <div class="panel-body">
    <h3>
      ٦٠٠<small> جـم</small>
    </h3>
    <small>٣٥٪ خصم للطلبة</small>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><strong>Co-Working Space</strong></li>
    <li class="list-group-item"><strong>35%</strong><span class="mate"> Off of Machine Use </span></li>
    <li class="list-group-item"><strong>10%</strong><span class="mate"> Off of Workshops</span></li>
    <li class="list-group-item"><strong>Free Lab Sessions</strong> <i class="fa fa-info-circle pricing-labsessions"></i></li>
    <li class="list-group-item pt-empty pt-first">&nbsp;</li>
    <li class="list-group-item pt-empty">&nbsp;</li>
  </ul>
</div>
