<div class="row machine roland">
  <div class="machine-image col col-md-4 col-md-offset-2 invisible">
    <img src="assets/images/machines/roland.png" alt="Roland GX-24 " width="400"/>
  </div>

  <div class="machine-info col col-md-5 invisible">
    <div class="display-table">
      <p>
        <span class="h2">Roland GX-24 <small class="font-light"> Vinyl Cutter</small></span>
        <br>
        In addition to Roland’s legendary reliability, the CAMM-1 Servo GX-24 desktop vinyl cutter offers enhanced productivity and quality. Powered by a digital servomotor, it achieves cutting speeds up to 20 inches per second and maximum accuracy. Vehicle graphics, signs, decals, labels, stencils and even pinstriping always come out looking crisp and clean.
      </p>
    </div>
  </div>
</div>
