/* // Core variables and mixins
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

// Bootswatch Flaty
@import "../flaty-bootswatch/_variables";
@import "../flaty-bootswatch/_bootswatch"; */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Fablab Website main stylesheet                                            */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


$facebook:      #3b5998;
$flickr_blue:   #0063dc;
$flickr_pink:   #ff0084;
$twitter:       #55acee;
$youtube:       #e52d27;


.background-light { color: black !important;  }
.background-dark  { color: whitesmoke !important; }

.hXL { font-size: 45px; }
.display-block{ display: block; }



.machines {

  .machine {

    .display-table {
      width: 100%;
      height: 100%;
      display: table;

      .table-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .machine-slick-slide {
            width: 640px !important;
            margin-left: 24px !important;

            .slick-cover{
                background-repeat: no-repeat;
                background-position: center, center;
                background-size: cover;
            }

            .slick-prev:before, .slick-next:before {
                font-family: FontAwesome;
                color: #000;
            }

            .slick-next { right: -20px !important;}
            .slick-next:before {content: "";}

            /* .slick-prev { left: -20px !important; } */
            .slick-prev:before {content: "";}

        }
      }
    }
  }
}



#full-page {
  /*==========  About  ==========*/
    #about.section { background: whitesmoke; }

  /*==========  Services  ==========*/
    #services.section { background: #fdd55e; }

  /*==========  Machines  ==========*/
    .machines.section { background: #ecf0f1; }

  /*==========  Projects ==========*/
    #projects.section { background: #43f0f6; }

  /*==========  Membership ==========*/
    #memberships.section { background: #89C4F4; }

  /*==========  contacts ==========*/
    #contacts.section { background: #2163ff; }

  /*=========================================*/

   .social{

      a{ color: $brand-primary !important; }

      .facbook{ :hover, :focus {color: $facebook; } }

      .twitter{ :hover, :focus {color: $twitter; } }

       .youtube{ :hover, :focus {color: $youtube; } }

       .flickr{
          :hover, :focus{
            color: #e6e6e6;
            .flickr-left {color: $flickr_blue; }
            .flickr-right {color: $flickr_pink; }
         }
       }
     }
}


/* Animated */

@mixin animation-delay($t) {
  -webkit-animation-delay: $t;
     -moz-animation-delay: $t;
      -ms-animation-delay: $t;
          animation-delay: $t;
}


.animation-delay-100ms { @include animation-delay(0.1s); }
.animation-delay-200ms { @include animation-delay(0.2s); }
.animation-delay-300ms { @include animation-delay(0.3s); }
.animation-delay-400ms { @include animation-delay(0.4s); }
.animation-delay-500ms { @include animation-delay(0.5s); }
.animation-delay-600ms { @include animation-delay(0.6s); }
.animation-delay-700ms { @include animation-delay(0.7s); }
.animation-delay-800ms { @include animation-delay(0.8s); }
.animation-delay-900ms { @include animation-delay(0.9s); }

.animation-delay-1000ms { @include animation-delay(1s); }
.animation-delay-2000ms { @include animation-delay(2s); }
.animation-delay-3000ms { @include animation-delay(3s); }
.animation-delay-4000ms { @include animation-delay(4s); }
.animation-delay-5000ms { @include animation-delay(5s); }
.animation-delay-6000ms { @include animation-delay(6s); }
.animation-delay-7000ms { @include animation-delay(7s); }
.animation-delay-8000ms { @include animation-delay(8s); }
.animation-delay-9000ms { @include animation-delay(9s); }
.animation-delay-10000ms { @include animation-delay(10s); }


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-height : 800px) {
  .continer.pricing-table .pricing-panel *  { font-size: 13px !important;}
  .continer.pricing-table .pricing-panel h3 { font-size: 350% !important;}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .services .continer {
      margin-left: 50px;
      width: 924px;
      .col {
        width: 700px !important;
        .thumbnail {
            display: table !important;
            width: 100% !important;
            img {
              display: table-column !important;
              float: left  !important;
              height: 128px !important;
              width: 128!important;
            }
            .caption {
              display: table-column !important;
              float: left !important;
              text-align: left;
            }
        }
      }
   }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
