
.continer.pricing-table {
  margin-top:7%;
  padding-left: 20px;
  padding-right: 20px;

  .pricing-panel.pt-featured {
    margin-top: -28px; //margin-top: -20px;
    .panel-heading, .panel-footer { padding:0; }

    .join {
      button {
        padding-top:    20px;
        padding-bottom: 20px;
      }
    }
  }

  .pricing-panel {

    .join {
      margin-bottom: 20px;
      button {
        padding-left:  50px;
        padding-right: 50px;
      }
    }

    h2 {
        font-size: 200% !important
        /* padding-bottom: 0; */
        /* margin-bottom:0; */
    }

    h3 {
      font-size: 400%;
      /* padding-top: 0; */
      /* margin-top:0; */
      small { font-size: 30%; }
    }



    small {
      font-size: 100%;
      font-weight: lighter;
      font-stretch: normal;
      font-weight: 400;
    }

    li {
      font-style: normal;
      font-stretch: normal;
      font-weight: 600;

      i{
        :hover { /* color:#555; */}
        .pricing-labsessions { cursor: help; }
      }

      strong { /* color:#555; */ font-weight:bolder;}
      .pt-empty { border-color: transparent; }
      .pt-empty:first-child, .pt-first { /* border-top-color: #DDD !important; */}
    }
  }
}
