.info.reveal(dir='ltr')
  h2.invisible
    | Fab Lab Egypt
    small
      br
      |       A Member of Massachusetts Institute of Technology &mdash; Fab Lab Global Network
  p.lead.invisible
    | A Non-Profit, Non-Governmental, Community Run Public Makerspace and Digital Fabrication Lab.
    br
    |     Where anyone in the community from young children to students, entrepreneurs and businesses can get together to share knowledge,
    |     learn from each other, and collaborate on projects and hands-on activities.
    br
    br
    |     An environment that promotes innovation and education providing a collaborative open makerspace equipped
    br
    | with digital fabrication and prototyping machines &amp; tools.
    |     Hands-on training using MIT accredited curriculum.
    +socialLinks(1,4)
    //- - var social_links_col_width = '1'
    //- - var social_links_col_offset = '4'
    //- include ../partials/social-links
