.gmap#googlemaps
.map-overlay(style='text-align: left;', dir='ltr')
  .raw
    .col-sm-5.col-sm-offset-6.col-md-3.col-md-offset-8
      .panel.panel-default.invisible
        .panel-body
          address
            strong Fab Lab Egypt
            br
            | 10 Abd El-Rahman El-Rafaey
            br
            | Mohandessin, Giza
            br
            ul.list-unstyled
              li
                i.fa.fa-envelope
                a(href='mailto:info@fablab-egypt.com') &nbsp;info@fablab-egypt.com
              li
                i.fa.fa-envelope
                a(href='mailto:fablabegypt@gmail.com') &nbsp;fablabegypt@gmail.com
              li
                i.fa.fa-phone
                a(href='tel:00201111607406') &nbsp;(+20) 11-1160-7406
          address
            strong Open Hours
            br
            | All Week Days:
            br
            | &nbsp;&nbsp;12:00 PM to 8:00 PM
            br
          address.hidden
            strong Ramadan
            br
            | All Week Days:
            br
            | &nbsp;&nbsp;10:00 AM to 5:00 PM
            br
            +socialLinks('2', '0')
