.continer.pricing-table
    .row
        .col.col-sm-2.col-sm-offset-2
            include pricing_table_en/01mo
        .col.col-sm-2
            include pricing_table_en/03mo
        .col.col-sm-2
            include pricing_table_en/06mo
        .col.col-sm-2
            include pricing_table_en/12mo
