.continer
    .row
        .invisible.col.col-sm-12.col-md-2.col-md-offset-2
            include services_en/coworking_space
        .invisible.col.col-sm-12.col-md-2
            include services_en/machines-tools
        .invisible.col.col-sm-12.col-md-2
            include services_en/mit_curriculum
        .invisible.col.col-sm-12.col-md-2
            include services_en/workshops_events
