.panel.panel-default.pricing-panel.invisible(dir='ltr')
    .panel-body
        h3
            | 120
            small  EGP
        small 35% Off for Students
    .features
        ul.list-group
            li.list-group-item
                strong Co-Working Space
            li.list-group-item.pt-empty.pt-first &nbsp;
            li.list-group-item.pt-empty &nbsp;
            li.list-group-item.pt-empty &nbsp;
            li.list-group-item.pt-empty &nbsp;
            li.list-group-item.pt-empty &nbsp;
    .join.hidden
        button.btn.btn-info(type='button') Join
