.panel.panel-success.pricing-panel.pt-featured.invisible(dir='ltr')
    .panel-heading Most Popular
    .panel-body
        h3
            | 270
            small  EGP
        small 35% Off for Students
    .features
        ul.list-group
            li.list-group-item
                strong Co-Working Space
            li.list-group-item
                strong 20%
                span.mate  Off of Machine Use
            li.list-group-item
                strong 10%
                span.mate  Off of Workshops
            li.list-group-item.pt-empty.pt-first &nbsp;
            li.list-group-item.pt-empty &nbsp;
            li.list-group-item.pt-empty &nbsp;
    .join.hidden
        button.btn.btn-success.btn-lg(type='button') Join
    .panel-footer &nbsp;
