.panel.panel-default.pricing-panel.invisible(dir='ltr')
    .panel-body
        h2 6 Months
        h3
            | 600
            small  EGP
        small 35% Off for Students
    .features
        ul.list-group
            li.list-group-item
                strong Co-Working Space
            li.list-group-item
                strong 35%
                span.mate  Off of Machine Use
            li.list-group-item
                strong 10%
                span.mate  Off of Workshops
            li.list-group-item
                strong Free Lab Sessions&nbsp;
                //- i( class="popover-labsessions pricing-labsessions fa fa-info-circle",
                //-     data-container="body",
                //-     data-toggle="popover-labsessions",
                //-     data-placement="top",
                //-     title="Free Lab Sessions")
                //- i.fa.fa-info-circle.pricing-labsessions
            li.list-group-item.pt-empty.pt-first &nbsp;
            li.list-group-item.pt-empty &nbsp;
    .join.hidden
        button.btn.btn-info(type='button') Join
