.panel.panel-default.pricing-panel.invisible(dir='ltr')
    .panel-body
        h2 12 Months
        h3
            | 1200
            small  EGP
        small 35% Off for Students
    .features
        ul.list-group
            li.list-group-item
                strong Co-Working Space
            li.list-group-item
                strong 50%
                span.mate  Off of Machine Use
            li.list-group-item
                strong 10%
                span.mate  Off of Workshops
            li.list-group-item
                strong Free Lab Sessions&nbsp;
                i.fa.fa-info-circle.pricing-labsessions
            li.list-group-item
                strong Free Support
                |  Sessions.
            li.list-group-item
                strong 24 Hours
                |  Lab Access
    .join.hidden
        button.btn.btn-info(type='button') Join
