.row.machine.electronics-workbench
    .machine-image.col.col-md-4.col-md-offset-1.invisible
        img.img-lazy-loading(data-src='images/machines/electronics_workbench.png', alt='Electronics Workbench', width='400')
    .machine-info.col.col-md-5.invisible
        .display-table
            div
                p
                    span.h2
                        | Electronics Workbench
                        small.font-light &nbsp;With Componants and Tools
                    br
                    | A fully Stocked Electronics Inventory ranging from the Normal everyday through hole device to the hard to find SMD (Surface Mount Devices) Components complete with
                div.row.text-left
                    ul.col-sm-8.col-sm-offset-1
                        li Digital Storage Oscilloscope Instek GDS-1152A-U 150 MHz.
                        li Solder Station Analog 50w.
                        li Fan Fume Absorber.
                    ul.col-sm-3
                        li Power Supply.
                        li and many more.
