.continer-fluid.machines.main.reveal
    .row
        .col-md-4.col-md-offset-4.reveal-fadeInRight
            .display-table.text-center
                p.lead
                    span.hXL.machines-title.invisible Machines
                    br
                    span.machines-info.invisible
                        span.font-light Fab Lab Egypt
                        |             offers a wide array of machines for prototyping, digital fabrication as well as power tools.
    br
    .row.machines-icons
        .invisible.col.col-sm-2.col-sm-offset-1.col-md-2.col-md-offset-1
            img#3dprinter.machine-icons(alt='3D Printer', src='images/machines/icons/3dprinter.png', height='100', data-original-title='3D Printer', title='', data-placement='bottom', data-toggle='tooltip')
        .invisible.col.col-sm-2.col-md-2
            img#lasercutter.machine-icons(alt='Laser Cutter', src='images/machines/icons/lasercutter.png', height='100', data-original-title='Laser Cutter', title='', data-placement='bottom', data-toggle='tooltip')
        .invisible.col.col-sm-2.col-md-2
            img#milling.machine-icons(alt='milling', src='images/machines/icons/milling.png', height='100', data-original-title='Milling Machine', title='', data-placement='bottom', data-toggle='tooltip')
        .invisible.col.col-sm-2.col-md-2
            img#vinlycutter.machine-icons(alt='Vinly Cutter', src='images/machines/icons/vinlycutter.png', height='100', data-original-title='Vinly Cutter', title='', data-placement='bottom', data-toggle='tooltip')
        .invisible.col.col-sm-2.col-md-2
            img#powertools.machine-icons(alt='Power Tools', src='images/machines/icons/powertools.png', height='100', data-original-title='Power Tools', title='', data-placement='bottom', data-toggle='tooltip')
