.row.machine.3d-printer.makerbot
    .machine-image.col.col-md-4.col-md-offset-1.invisible
        img.img-lazy-loading(data-src='images/machines/makerbot.png', alt='MakerBot Reblicator 2', width='400')
    .machine-info.col.col-md-5.invisible
        .display-table
            .table-cell
                p
                    span.h2
                        | MakerBot Replicator 2
                        small.font-light &nbsp;Desktop 3D Printer
                    br
                    strong The MakerBot
                    |  is a 3D printer that creates objects by laying down molten plastic to build up, layer after layer, your finished product.
                div.machine-slick-slide.3dprinter-slick
                    +slick_slide_image_asBG('images/machines_images/','makerbot_001.jpg', '128px')
                    +slick_slide_image_asBG('images/machines_images/','makerbot_002.jpg', '128px')
                    +slick_slide_image_asBG('images/machines_images/','makerbot_003.jpg', '128px')
                    +slick_slide_image_asBG('images/machines_images/','makerbot_004.jpg', '128px')
                    +slick_slide_image_asBG('images/machines_images/','makerbot_005.jpg', '128px')
                    +slick_slide_image_asBG('images/machines_images/','makerbot_006.jpg', '128px')
