.row.machine.modela
    .machine-info.col.col-md-5.col-md-offset-2.invisible
        .display-table
            p
                span.h2
                    | Modela
                    small.font-light &nbsp;Milling Machine
                br
                | Milling is the machining process of using rotary cutters to remove material from a workpiece advancing (or feeding) in a direction at an angle with the axis of the tool. It covers a wide variety of different operations and machines, on scales from small individual parts to large, heavy-duty gang milling operations. It is one of the most commonly used processes in industry and machine shops today for machining parts to precise sizes and shapes.
    .machine-image.col.col-md-4.invisible
        img(src='images/machines/modela.png', alt='Modela Milling Machine', width='400')
