.row.machine.morn
    .machine-info.col.col-md-5.col-md-offset-2.invisible
        .display-table
            p
                span.h2
                    | MORN MT-3050D II
                    small.font-light  Laser Cutter
                br
                | Laser engravers are extremely versatile, powerful, and easy to use.  They are among the most popular tools at Maker Works. These CO2 lasers are capable of cutting, engraving, and marking a wide range of materials.  The lasers appear as printers under Windows (you can install the drivers on your own laptop and print over our network to the lasers!).  Use Corel Draw, Inkscape, or a variety of vector graphics programs to produce artwork.  A rotary attachment allows engraving cylindrical objects such as glasses.
    .machine-image.col.col-md-4.invisible
        img(src='images/machines/mt3050dii.png', alt='MORN MT-3050D II', width='400')
