.row.machine.vinly-cutter.roland
    .machine-image.col.col-md-4.col-md-offset-1.invisible
        img.img-lazy-loading(data-src='images/machines/roland.png', alt='Roland GX-24 ', width='400')
    .machine-info.col.col-md-5.invisible
        .display-table
            p
                span.h2
                    | Roland GX-24
                    small.font-light &nbsp;Vinyl Cutter
                br
                | In addition to Roland&rsquo;s legendary reliability, the CAMM-1 Servo GX-24 desktop vinyl cutter offers enhanced productivity and quality. Powered by a digital servomotor, it achieves cutting speeds up to 20 inches per second and maximum accuracy. Vehicle graphics, signs, decals, labels, stencils and even pinstriping always come out looking crisp and clean.
