{% extends "_base/_layout.html" %}
{% block head %}
  <title>{{LANG}} | Fab Lab Egypt</title>
  {% include "_structure/_pace.html" %}
  {% include "_structure/_styles.html" %}
  {% include "_structure/_favicons.html" %}
{% endblock head %}


{% block header %}
  <div class="continer">
    {% include "_partials/_navbar-%s.html"|format(LANG) %}
  </div>
{% endblock %}

{% block fullpage %}
  <div id="full-page">
    <div class="section active" id="about" >
      {% include "_sections/_about-%s.html"|format(LANG) %}
    </div>
    <div class="section active" id="services" >
      {% include "_sections/_services-%s.html"|format(LANG) %}
    </div>
    <div class="section machines" id="machines-main">
      {% include "_sections/_machines/_machines_main-%s.html"|format(LANG) %}
    </div>
    <div class="section machines" id="machines-makerbot">
      {% include "_sections/_machines/_makerbot-%s.html"|format(LANG) %}
    </div>
    <div class="section machines" id="machines-morn">
      {% include "_sections/_machines/_morn3050dii-%s.html"|format(LANG) %}
    </div>
    <div class="section machines" id="machines-vinyl">
      {% include "_sections/_machines/_roland-%s.html"|format(LANG) %}
    </div>
    <div class="section machines" id="machines-modela">
      {% include "_sections/_machines/_modela-%s.html"|format(LANG) %}
    </div>
    <div class="section machines" id="machines-tools">
      {% include "_sections/_machines/_machine-%s.html"|format(LANG) %}
    </div>
    <div class="section"        id="memberships">
      {% include "_sections/_pricing_table-%s.html"|format(LANG) %}
    </div>
    <div class="section" id="contacts" >
      {% include "_sections/_contact-%s.html"|format(LANG) %}
    </div>
  </div>
  {% include "_structure/_javascript.html" %}
{% endblock fullpage %}
