{% extends "_layout.html" %}
{% block head %}
  <title></title>
  {% include "_structure/_pace.html" %}
  {% include "_structure/_styles.html" %}
{% endblock head %}

{% block header %}
  {% include "_brand.html" %}
{% endblock %}

{% block fullpage %}
  <div id="full-page">

    <div class="section active">
      <!-- Section -->
      {% include "_placeholder.html" %}
    </div>
    <div id="memberships" class="section">
      {% include "_sections/_pricing_table-en.html" %}
    </div>
    <div class="section">
      <!--  Section with H-Slider-->
      <div class="slide" data-anchor="contacts" dir="rtl">
      {% include "_placeholder.html" %}
      </div>
    </div>

  </div>
  {% include "_structure/_javascript.html" %}
{% endblock fullpage %}
